body .App{
  margin: 0px auto;
  width: 350px; 
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
background-color: rgb(239 246 255)	;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.from{
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
input{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
width: 200px;
height: 50px;
border-radius: 5px;
}